<%= form_for(@languagedivision) do |f| %>
  <% if @languagedivision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@languagedivision.errors.count, "error") %> prohibited this languagedivision from being saved:</h2>

      <ul>
      <% @languagedivision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.number_field :language_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
