<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @languagedivision.book_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @languagedivision.language_id %>
</p>

<%= link_to 'Edit', edit_languagedivision_path(@languagedivision) %> |
<%= link_to 'Back', languagedivisions_path %>
