<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @authorship.book_id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @authorship.author_id %>
</p>

<%= link_to 'Edit', edit_authorship_path(@authorship) %> |
<%= link_to 'Back', authorships_path %>
