<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>
<% for @language.books.each do |b| %>
    <p><strong>Book</strong></p>
    <%= b.name %>
<%end %>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
