<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<div class="row">
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
 
      <%= f.text_field :name,class:"form-control",placeholder:"Username" %> <br />
        <%= button_tag 'Update', class:"btn btn-primary", style:"width:100%" %>
            <%= link_to 'Back',author_path,{method:"get", type:"none", class:"btn btn-link", style:"width:100%;margin-top:2%"} %>
    <% end %>
</div>
</div>
