.jumbotron{style:"margin-top:5%;padding-top:1px"}
  .row


    #left{style:"width:75%;float:left"}
      %h1= @author.name
      %p
        = @author.books.count
        Books
      %p
        - @categories=[]
        - @author.books.each do|b|
          - b.categories.each do |c|
            - @categories << c.name
        - @uniquecat = @categories.uniq
        = @uniquecat.length
        Categories
      - if isadmin()
        = button_to 'Edit Details', edit_author_path,{method:"get",class:"btn btn-lg btn-primary", style:"float:left;margin-right:5%;margin-top:f%"}
        = button_to 'Delete Author', @author,{method:"delete",class:"btn btn-lg btn-danger", style:"float:left;margin-right:5%;margin-top:f%", confirm:"Are you sure? All the books by this author will be deleted"}


    #right{style:"float:left;margin-top:5%"}
      - if @author.photo.file?
        = image_tag @author.photo.url,{style:"width:125px;height:160px"}
      - else
        = image_tag "passport_sample.png"
%table.table.table-hover{style:"width:100%"}
  %tr
    %th.col-md-6 Book
    %th.col-md-6 Category
  - @author.books.uniq_by(&:bookunique).each do |book|
    %tr
      %td= link_to book.name,book
      %td
        - book.categories.each do |cat|
          = link_to cat.name, cat


