= form_for(@user, url: "reset_password", class:"form-signin") do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count,"error")
        prohibited password from being changed
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.password_field :currentpassword, class:"form-control", placeholder: "Current Password"
  = f.password_field :newpassword, class:"form-control", placeholder: "New Password"
  = f.password_field :newpassword_confirmation, class: "form-control"
  = button_tag "Change", class: "btn btn-normal", style:"width:100%;color:black"

