<%= form_for(@user, :url=>"reset_password") do |f| %>
    <% if @user.errors.any? %>
            <div class="alert alert-dismissable alert-danger" style="margin-top:2%">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved
                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>

            </div>

  <% end %>

<div id="my-tab-content" class="tab-content"> 
    <div class="tab-pane active" id="logindetails" style="padding-left:2%;padding-right:2%">

        <br />
        <%= f.password_field :currentpassword,class:"form-control",placeholder:"Current Password" %>
        <br />
        <%= f.password_field :newpassword, class:"form-control",placeholder:"New Password" %>
        <br />
        <%= f.password_field :newpassword_confirmation, class:"form-control",placeholder:"Confirm password" %>
        <br />

        <%= button_tag 'Sign Up', class:"btn btn-normal", style:"width:100%;color:black" %>

            <%= link_to 'Back',user_path,{method:"get", type:"none", class:"btn btn-link", style:"width:100%;margin-top:2%"} %>

    </div>
<% end %>
