<% if session.has_key?(:user) && @user.username==session[:user] or session.has_key?(:user) && User.where(:username=>session[:user]).first.admin==true%>
    <div class="jumbotron" style="margin-top:5%;padding-top:1px">
    <div class="row">
        <div style="width:75%;float:left">
            <h1><%= @user.name %></h1>
            <% @add = simple_format @user.address %>
            <% @add = @add.gsub! '<br />','<br /><br />' %>
            <% @add = @add.gsub! '<p>', '<p style="margin-left:1%">'%>
            <p style="margin-left:1%"><%= @add.html_safe%></p><br />
            <p style="margin-left:1%">Admission Number : <%= @user.admissionnumber %></p>
            <p style="margin-left:1%">EMail : <%= @user.email %></p>
            <p style="margin-left:1%">Phone : <%= @user.phone %></p>

                  </div>
        <div style="float:left;margin-top:5%">
            <%= image_tag "passport_sample.png"%>
        </div>
    <% if User.where(:username=>session[:user]).first.admin==true %>

        <div style="float:left;margin-top:5%">
            <%= render 'formissue' %>
        </div>

        <div style="float:right;margin-top:5%">
            <%= render 'formreturn' %>
        </div>

<% end %>
</div>
<div class="row">
  <%= button_to 'Edit Details',edit_user_path,{method:"get", class:"btn btn-lg btn-primary", style:"float:left;margin-right:5%;margin-top:5%"} %>
            <%= button_to 'Delete User',@user,{method:"delete", class:"btn btn-lg btn-danger", style:"float:left;margin-right:5%;margin-top:5%",confirm:"Are you sure to delete this user?"} %>
            <%= button_to 'Change Password',password_reset_path, {method:"get", class:"btn btn-lg btn-primary", style:"float:left;margin-right:5%;margin-top:5%"} %>
            <%= button_to 'Update Photo',edit_user_photo_path,{method:"get", class:"btn btn-lg btn-primary", style:"float:left;margin-right:5%;margin-top:5%"} %>


</div>
</div>

<% if not @user.books.empty? %>
<table class="table table-bordered">
    <tr>
        <th style="text-align:center">Book Serial Number</th>
        <th style="text-align:center">Book Name</th>
        <th style="text-align:center">Date of Issue</th>
        <th style="text-align:center">Date of Return</th>
    </tr>
    <% @user.books.each do |b| %>
        <% @class="" %>
        <% @dateofreturn= Date.parse(Issuing.where(:book_id=>b.id,:user_id=>@user.id).first.dateofreturn.to_s) %>
        <% if @dateofreturn<Date.today %>
            <% @class="danger" %>
            <% end %>
            <tr class="<%=@class%>">
            <td><%= b.id %></td>
            <td><%= b.name %></td>
            <td><%= Issuing.where(:book_id=>b.id,:user_id=>@user.id).first.dateofissue.to_s %></td>
            <td><%= Issuing.where(:book_id=>b.id,:user_id=>@user.id).first.dateofreturn.to_s %></td>
        </tr>
    <% end %>
</table>
<% end %>
<% else %>
    <div class="alert alert-dismissable alert-danger" style="margin-top:2%">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    You cannot access this page</div>
<% end %>
