<script type="text/javascript">
$(document).ready(function(){
        $('.combobox').combobox();
        });
</script>
<div style="position:relative;text-align:center">
<%= form_for(@book) do |f| %>
    <% if @book.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

    <ul>
        <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
    <% end %>
    </ul>
</div>
  <% end %>
<div class="row">
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
        <%= f.text_field :serial ,class:"form-control", placeholder: "Serial" %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
        <%= f.text_field :name ,class:"form-control", placeholder: "Name" %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
        <%= f.fields_for :author do |author_form| %>
    <div style="float:left;width:50%" >
            <%= author_form.text_field :name ,class:"form-control", placeholder: "Authors (Use ';' to split)" %>
        </div>              <div style="float:left;width:50%" >
<select class="multiselect" multiple="multiple">
<option value="cheese">Cheese</option>
<option value="tomatoes">Tomatoes</option>
<option value="mozarella">Mozzarella</option>
<option value="mushrooms">Mushrooms</option>
<option value="pepperoni">Pepperoni</option>
<option value="onions">Onions</option>
</select>


        </div>
    <% end %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >




        <% @cat = Category.all %>
            <% @catlist=Array.new %>
<% @cat.each do |c| %>
                <% @catlist << c.name  %>
    <% end %>
        <%= f.fields_for :category do |category_form| %>

            <%= category_form.select :name,@catlist,{:prompt => "Category"},{:class => "form-control combobox"} %>
    <% end %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
        <%= f.text_field :shelf ,class:"form-control", placeholder: "Shelf" %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
        <%= f.text_field :row ,class:"form-control", placeholder: "Row" %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
         <%= f.fields_for :language do |language_form| %>

            <%= language_form.text_field :name ,class:"form-control", placeholder: "Language" %>
        <% end %>

                <%= f.file_field :cover,{class:"btn",title:"Choose Profile Pic"} %>
   <div class="col-md-4 col-md-offset-4" >
        <div style="display:block;width:100%;padding-bottom:1%">
            <%= button_tag 'Submit',src:books_path, class:"btn btn-primary", style:"width:100%;" %></div>
    </div>

</div>
<% end %></div>

<script type="text/javascript">
$(document).ready(function() {
$('.multiselect').multiselect();
});
</script>

