<script type="text/javascript">
$(document).ready(function(){
        $('.combobox').combobox();
        });
</script>
<div style="position:relative;text-align:center">
<%= form_for(@book) do |f| %>
    <% if @book.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

    <ul>
        <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
    <% end %>
    </ul>
</div>
  <% end %>
<div class="row">
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
        <%= f.text_field :serial ,class:"form-control", placeholder: "Serial" %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
        <%= f.text_field :name ,class:"form-control", placeholder: "Name" %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
        <%= f.fields_for :author do |author_form| %>
            <%= author_form.text_field :name ,class:"form-control", placeholder: "Author" %>
    <% end %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >




        <% @cat = Category.all %>
        <% @cat.each do |c| %>
            <% @catlist=Array.new %>
        <% @catlist << c.name  %>
    <% end %>

        <%= f.fields_for :category do |category_form| %>

            <%= category_form.select :name,@catlist,{:prompt => "Category"},{:class => "form-control combobox"} %>
    <% end %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
        <%= f.text_field :shelf ,class:"form-control", placeholder: "Shelf" %>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-bottom:1%" >
        <%= f.text_field :row ,class:"form-control", placeholder: "Row" %>
    </div>
    <div class="col-md-4 col-md-offset-4" >
        <div style="display:block;width:100%;padding-bottom:1%">
            <%= button_tag 'Add',src:books_path, class:"btn btn-primary", style:"width:100%;" %></div>
    </div>

</div>
<% end %></div>
