<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @book.serial %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
<strong>Author:</strong>
<% @book.authors.each do |a| %>
    <%= link_to a.name,a %>
    <% end %>
</p>

<p>
<strong>Category:</strong>
<% @book.categories.each do |c| %>
    <%= link_to c.name,c %>
    <% end %>
</p>

<p>
  <strong>Shelf:</strong>
  <%= @book.shelf %>
</p>

<p>
  <strong>Row:</strong>
  <%= @book.row %>
</p>
<% @book.users.each do |u| %>
    <%= u.name %>
    <% end %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<a data-confirm="Are you sure?" data-method="delete" href="<%= book_path %>" rel="nofollow"><button class="btn btn-primary">Destroy</button></a>
