<div class="jumbotron" style="margin-top:10%;padding-top:1px">
    <div class="row">
        <div style="width:75%;float:left">
            <h1><%= @book.name %></h1>
            <p style="margin-left:1%">
            <% @book.authors.each do |author| %>
                <%= link_to author.name,author %>
                <% if not author.equal? @book.authors.last %>
                    |
                <% end %>
            <% end %>
            </p>
            <% @book.categories.each do |category| %>
                <p style="margin-left:1%"><%= link_to category.name,category %></p><br />
                <% end %>
            <p style="margin-left:1%">Serial Number : <%= @book.serial %></p>
            <p style="margin-left:1%">Row : <%= @book.row %></p>
            <p style="margin-left:1%">Shelf : <%= @book.shelf %></p>

        </div>
        <div style="float:left;margin-top:5%">
            <%= image_tag "passport_sample.png"%>
        </div>


    </div>
    <% @book.users.each do |u| %>
        <%= u.name %>
        <%end %>
