.jumbotron{style:"margin-top:5%;padding-top:1px"}
  .row


    #left{style:"width:75%;float:left"}
      %h1= @book.name
      %p
        - @book.authors.each do |author|
          = link_to author.name,author
          - if not author.equal? @book.authors.last
            ;
      - @book.categories.each do |category|
        %p= link_to category.name, category
      %p
        Row :
        = @book.row
      %p
        Shelf :
        = @book.shelf
      %p
        Total Number of Copies : 
        = @copies.count
      %p
        Number of Copies Available : 
        = @uniquecopies
      - if isadmin()
        = button_to 'Edit Details', edit_book_path,{method:"get",class:"btn btn-lg btn-primary", style:"float:left;margin-right:5%;margin-top:5%"}
        = button_to 'Delete Book', @book,{method:"delete",class:"btn btn-lg btn-danger", style:"float:left;margin-right:5%;margin-top:5%", confirm:"Are you sure?"}
      - if @user != nil and isadmin()==false
        = button_to 'Reserve Books', reserve_book_path(:book=>@book,:user=>@user), method:"post", class:"btn btn-lg btn-primary"


    #right{style:"float:left;margin-top:5%"}
      - if @book.cover.file?
        = image_tag @book.cover.url,{style:"width:125px;height:160px"}
      - else
        = image_tag "passport_sample.png"
%table.table.table-bordered
  %tr
    %th Book Id
    %th User Name
    %th Date of Issue
    %th Date of Return
  - @copies.each do |b|
    - Issuing.where("book_id = ? ",b.id).each do |i|
      %tr
        %td= b.id
        %td= User.find(i.user_id).name
        %td= i.dateofissue
        %td= i.dateofreturn
