<%= form_for(@shelfposition) do |f| %>
  <% if @shelfposition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shelfposition.errors.count, "error") %> prohibited this shelfposition from being saved:</h2>

      <ul>
      <% @shelfposition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :shelf_id %><br>
    <%= f.number_field :shelf_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
