<h1>Listing issuings</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @issuings.each do |issuing| %>
      <tr>
        <td><%= issuing.book_id %></td>
        <td><%= issuing.user_id %></td>
        <td><%= link_to 'Show', issuing %></td>
        <td><%= link_to 'Edit', edit_issuing_path(issuing) %></td>
        <td><%= link_to 'Destroy', issuing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issuing', new_issuing_path %>
