<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @issuing.book_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @issuing.user_id %>
</p>

<%= link_to 'Edit', edit_issuing_path(@issuing) %> |
<%= link_to 'Back', issuings_path %>
