.centeredtext
  - if params.has_key?(:contains)
    %h1= t('category_under',:query => params[:contains].to_s)
  - else
    %h1= t('all_categories')
  = will_paginate @categories, renderer: BootstrapPagination::Rails
%table.table.table-hover{"width" => "100%"}
  %tr
    %th.col-md-6 Serial Number
    %th.col-md-6 Category Name
  - if params.has_key?(:page)  
    - @counter = (params[:page].to_i-1) * 10 + 1
  - else
    - @counter = 1
  - @categories.each do |category|
    %tr
      %td= @counter
      - @counter += 1
      %td= link_to category.name,category
