    <div class="jumbotron" style="margin-top:3%;padding-top:1px">
    <div class="row">
        <div style="width:75%;float:left">
            <h1><%= @category.name %></h1>
            <h2 style="margin-left:1%"> <%= @category.books.count %> books <br />
  <% @authors=[] %>
  <% @category.books.each do |b| %>
    <% b.authors.each do |a| %>
        <% @authors << a.name %>
    <% end %>
    <% @unique=@authors.uniq %>
<% end %>
<%= @unique.length %> authors</h2>

        </div>
               <div style="float:left;margin-top:5%">
                          <%= image_tag "passport_sample.png"%>
        </div>
 <div class="row" style="margin-left:1%">
    <% if session.has_key?(:user) && User.where(:username=>session[:user]).first.admin==true%>
  <%= button_to 'Edit Details',edit_category_path,{method:"get", class:"btn btn-lg btn-primary", style:"float:left;margin-right:5%;margin-top:5%"} %>
  <%= button_to 'Delete Category',@category,{method:"delete", class:"btn btn-lg btn-danger", style:"float:left;margin-right:5%;margin-top:5%",confirm:"Are you sure to delete this user?"} %>

            <br />
            <% end %>
 </div>
   </div>
</div>
<table class="table table-hover" style="width:100%">
    <tr>
        <th class="col-md-6">Book</th>
        <th class="col-md-6">Author</th>
    </tr>


    <% @category.books.each do |book| %>
        <tr>
            <td><h2><%= link_to book.name,book %></h2></td>
            <td>
            <% book.authors.each do |a|%>
                <h2><%= link_to a.name,a-%></h2>
            <% end %>
        </td>
        </tr>
    <% end %>
</table>



