<!DOCTYPE html>
<html>
<head>
<title> താളിയോല  </title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><b><%= link_to ' താളിയോല ', books_path %></b>
            </li>
            <li><a href="#">Books</a>
            </li>
            <li><a href="#">Authors</a>
            </li>
            <li><a href="#">Categories</a>
            </li>
            <li><a href="#">Contact</a>
            </li>
            <li><a href="#">About Us</a></li>
            <li>

<form class="" role="search" style="margin-left:3%">

<div class="form-group" style="float:left;width:97%">

<input type="text" class="form-control" placeholder="Search Query"></input>

</div>

<div class="btn-group">

<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">

Search in <span class="caret"></span>

</button>

<ul class="dropdown-menu" role="menu">

<li><a href="#" >Books</a></li>

<li><a href="#">Authors</a></li>

<li><a href="#">Category</a></li>

</ul>

</div>

</form>


</li>
            <% if params[:admin]=="b" %>

<% @str='

<ul class="nav nav-list accordion" id="sidenav-accordian">

<li>

<div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas"> <span class="nav-header-primary">

Admin

</span></a>


</div>

<ul class=" nav-list collapse" id="content-areas">

<li><a href="#" title="Title">Add Book</a>

</li>

<li><a href="#" title="Title">Add Category</a>

</li>

<li><a href="#" title="Title">Delete Book</a>

</li>

</ul>

</li>

</ul>'.html_safe %>

<%= @str %>

<% end %>
       </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="content-header" style="padding:0 0 0 0;margin: 0 0 0 0"></div>
                <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        <%= yield %>
    </div>
    <script>
$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
        });
    </script>
    </body>
    </html>
